In [1]:
import pandas as pd

In [2]:
#Read the school data file and store it in a Pandas DataFrame.
fees_data_to_load = "resources/fees_uniq.xlsx"
data_df = pd.read_excel(fees_data_to_load)
data_df.head()

,Input_state,Comp#,Input_RBC,Input_FeeNumber,Input_Dist,Fee,Flag,NB_amount,PandV,Spread,Installmentfee,Installment,Reinstate,3rdParty,Generic,Generic_amount
0,TN,01,222,211,A,Paper Document Fee,Y,10,N,N,N,0.0,0,N,Y,0
1,TN,01,222,213,A,Late Fee,N,0,N,N,N,0.0,0,N,Y,10
2,GA,03,181,204,A,Policy Fee,Y,25,P,N,N,0.0,0,N,Y,0
3,GA,03,181,204,A,Policy Fee,Y,25,P,Y,N,0.0,0,N,Y,0
4,GA,1D,S01,204,A,Policy Fee,Y,25,P,Y,N,0.0,0,N,Y,0

In [3]:
data_df_fee_Y = data_df[data_df['Flag'] =='Y']

In [6]:
data_df_fee_Y.Input_FeeNumber.unique()

array([211, 204, 207, 189, 210, 101, 102, 103, 104, 105], dtype=int64)

In [8]:
data_df_fee_Spread = data_df[data_df['Spread'] =='Y']
#data_df_fee_Spread.head()
data_df_fee_Spread.count()

Input_state        932
Comp#              932
Input_RBC          932
Input_FeeNumber    932
Input_Dist         932
Fee                932
Flag               932
NB_amount          932
PandV              932
Spread             932
Installmentfee     932
Installment        932
Reinstate          932
3rdParty           932
Generic            932
Generic_amount     932
dtype: int64

In [14]:
data_df_fee_Spread.dtypes

Input_state         object
Comp#               object
Input_RBC           object
Input_FeeNumber      int64
Input_Dist          object
Fee                 object
Flag                object
NB_amount            int64
PandV               object
Spread              object
Installmentfee      object
Installment        float64
Reinstate            int64
3rdParty            object
Generic             object
Generic_amount       int64
dtype: object

In [15]:
data_df_fee_Spread.ndim

2

In [16]:
data_df_fee_Spread.shape

(932, 16)